*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{
    background:#f8fafc;
    color:#1f2937;
}

header{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 8%;
    background:white;
    box-shadow:0 2px 10px rgba(0,0,0,.08);
    position:fixed;
    top:0;
    left:0;
    z-index:1000;
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
    font-size:30px;
    font-weight:700;
    color:#22c55e;
}

.logo span{
    color:#111827;
}

nav{
    display:flex;
    align-items:center;
    gap:35px;
}

nav a{
    text-decoration:none;
    color:#374151;
    font-weight:500;
    transition:.3s;
}

nav a:hover{
    color:#22c55e;
}

.btn-menu{
    background:#22c55e;
    color:white !important;
    padding:12px 22px;
    border-radius:12px;
}

.btn-menu:hover{
    background:#16a34a;

}

.hero{
    margin-top: 140px;
    padding: 60px 8%;
}